dependency-injector==4.48.1

sqlglot==27.0.0
pgvector==0.4.1

lingua-language-detector==2.1.1

pyahocorasick==2.2.0

dateparser==1.2.2

presidio-analyzer==2.2.360

word2number==1.1
inflect==7.5.0
symspellpy==6.9.0
ftfy==6.3.1
Unidecode==1.4.0
regex==2025.7.34

jsonschema==4.25.0

joblib==1.5.1


plotly
numpy
scipy
networkx
altair
bokeh
pyecharts
